<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key ="ApiUrl" value="http://45.88.209.160:5000/"/>
		<add key="ApiKey" value="833731b78e76e4e4c54984e89b14a9aff6df20439f924a900c024a1df2114059"/>
		<add key="Folder" value="\\45.88.209.160\AVASMENAUpdate\Needed\"/>
	</appSettings>
</configuration>